[submodule "data_agent/mcp/chartjs-mcp-server"]
	path = data_agent/mcp/chartjs-mcp-server
	url = https://github.com/ax-crew/chartjs-mcp-server.git
[submodule "data_agent/mcp/PaddleX"]
	path = data_agent/mcp/PaddleX
	url = https://github.com/KIrillPal/PaddleX.git
